*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: #e0e0e0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    min-height: 100vh;
    display: grid;
    grid-template-areas: "header"
                        "main" 
                        "footer";
}
/* Estilos del header */
header{
    grid-area: header;
}
.contenido-header{
    background-color: #1a1a2e;
    padding: 5px 10px;
    min-height: 12vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contenido-header .nombre-gimnasio{
    font-size: 1.7rem;
    font-weight: bold;
    display: flex;
    flex: 1;
    justify-content: center;
}
.contenido-header .eslogan-gimnasio{
    font-size: 1.04rem;
    display: flex;
    flex: 1;
    justify-content: center;
}
.contenido-header .nav-header{
    display: flex;
    flex: 1;
    flex-basis: 15%;
    justify-content: center;
    gap: 8px;
}
.contenido-header .nav-header a{
    font-size: 1.02rem;
    font-weight: 600;
    text-decoration: none;
    padding: 8px 20px;
    background-color: #EAB308;
    border-radius: 8px;
    transition: all 0.3s ease;
}
.contenido-header .nav-header a:hover{
    background-color: #E8B747;
    transform: translateY(-2px);
}
.contenido-header .nav-header a:link, .boton-bienvenida{
    color: #eeeeee;
}
.contenido-header .nav-header a:visited, .boton-bienvenida{
    color: #1252ac;
}

/* Estilos del main */
main{
    display: grid;
    grid-area: main;
    grid-template-areas:"inicio inicio inicio"
                        "servicios servicios aside"
                        "horarios contacto aside"
                        "planes planes planes";
    grid-template-columns: repeat(2,1fr) 270px;
    gap: 20px;
    padding-bottom: 25px;
    background:linear-gradient(180deg, #121212 0%, #121212 30%, #242424 100%);
}

/* Espaciado externo a las secciones del main y cambios en el tamaño de letra*/
#servicios, #horarios, #planes{
    margin-left: 25px;
}
#contenido-lateral, #planes{
    margin-right: 25px;
}
.subtitulo-principal{
    font-size: 2rem;
}
.subtitulo-secundario{
    font-size: 1.5rem;
}

/* Sección de bienvenida */
#inicio{
    grid-area: inicio;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5) ), url("assets/gym2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 88vh;
    position: relative;
}
#inicio::after{
    content: "";
    position: absolute;
    width: 437px;
    height: 376px;
    background-image: url("assets/gym3.png");
    background-repeat: no-repeat;
    background-size: contain;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
}
.contenido-inicio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 88vh;
    gap: 15px;
    padding: 0 30px;
    text-align: left;
}
.contenido-inicio .nombre-principal{
    font-size: 4.5rem;
    width: 50vw;
}
.contenido-inicio .titulo-principal{
    font-size: 2.3rem;
    width: 50vw;
    text-align: justify;
    font-weight: 600;
    color: #EAF2F8;
}
.contenido-inicio .descripcion-principal{
    font-size: 1.4rem;
    width: 60vw;
    text-align: justify;
    color: #CFF0EA;
}
.contenido-inicio .descripcion-principal span{
    color: #F6AF3B;
    font-weight: bold;
}
.contenido-inicio .nav-main-inicio{
    font-size: 1.1rem;
    margin-top: 10px;
    display: flex;
    gap: 20px;
}
.contenido-inicio .nav-main-inicio a{
    padding: 10px 20px;
    background-color: #B4D0C7;
    border-radius: 8px;
    font-weight: 600;
    text-decoration: none;
    transition: all 0.3s ease-out;
}
@keyframes pulsoSuave {
    0%, 100% {
        box-shadow: 0 0 0px rgba(180, 208, 199, 0);
    }
    50% {
        box-shadow: 0 0 20px rgba(180, 208, 199, 0.8);
    }
}
.contenido-inicio .nav-main-inicio a:last-of-type{
    animation: pulsoSuave 2s ease infinite;
}
.contenido-inicio .nav-main-inicio a:hover{
    background-color: #88C9C4;
    transform: scale(1.02);
    box-shadow: 0 0 20px rgba(136, 201, 196, 1);
    animation-play-state: paused;
}

/* Sección de tarjetas de servicios */
#servicios{
    grid-area: servicios;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
#servicios .contenido-servicios{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(min(240px,100%),1fr));
    gap: 10px;
}
#servicios .contenido-servicios article{
    background: rgba(255, 255, 255, 0.04);
    border-radius: 10px;
    border: 3px solid transparent;
    border-left: 3px solid #F97316;
    padding: 25px 20px;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    transition: all 0.5s ease;
}
#servicios .contenido-servicios article h3{
    text-align: center;
    font-size: 1.3rem;
}
#servicios .contenido-servicios article p, .estilo-parrafo{
    font-size: 1.03rem;
    text-align: justify;
}
.estilo-lgparrafo{
    font-size: 1.1rem;
}
#servicios .contenido-servicios article:hover{
    transform: translateY(-5px);
    border-color: rgba(255, 255, 255, 0.12);
    border-left-color: #83c4af;
    background-color: rgba(255, 255, 255, 0.07);
    box-shadow: 0 0 20px 3px rgba(255, 255, 255, 0.12);
}

/* Sección de tabla de horarios semanales */
#horarios{
    grid-area: horarios;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
#horarios .contenido-tabla{
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}
#horarios .contenido-tabla table{
    border-collapse: collapse;
    background-color: #1F2937;
    width: 100%;
    height: 100%;
    table-layout: fixed;    /* Hace que las columnas tengan el mismo ancho*/
}
.celda-dia{
    text-align: center;
}
#horarios .contenido-tabla table th, #horarios .contenido-tabla table td{
    border: 2px solid #151623;
    padding: 12px 8px;
    word-wrap: break-word;  /* Evita que un texto largo rompa el ancho de la columna*/
}

/* Sección de planes de membresía */
#planes{
    grid-area: planes;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
#planes .contenido-planes{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(min(275px,100%),1fr)); 
    gap: 15px;
}
#planes .contenido-planes article{
    background: rgba(255, 255, 255, 0.04);
    border-radius: 10px;
    border: 3px solid transparent;
    padding: 25px 20px;
    min-height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    transition: all 0.5s ease;
}
#planes .contenido-planes article h3{
    margin-bottom: 10px;
}
#planes .contenido-planes article ul{
    list-style-type: circle;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
#planes .contenido-planes article ul li{
    font-size: 1.05rem;
    text-align: left;
    line-height: 1.5;
}
#planes .contenido-planes article a{
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.1rem;
    margin-top: auto;
    align-self: center;
}
#planes .contenido-planes .plan1{
    border-top: 4px solid #CD7F32;
}
#planes .contenido-planes .plan1:hover{
    transform: translateY(-5px);
    border-color: rgba(255, 255, 255, 0.12);
    border-top: 4px solid rgb(204, 105, 7, 1);
    background-color: rgba(255, 255, 255, 0.07);
    box-shadow: 0 0 20px 3px rgba(255, 255, 255, 0.12);
}
#planes .contenido-planes article .boton-plan1{
    background: linear-gradient(135deg, #E5A96E 0%, #CD7F32 50%, #8C5A2B 100%);
    color: #121212;
}
#planes .contenido-planes article .boton-plan1:hover{
    background: #CD7F32;
    color: #0F172A;
}
#planes .contenido-planes .plan2{
    border-top: 4px solid #C0C0C0;
}
#planes .contenido-planes .plan2:hover{
    transform: translateY(-5px);
    border-color: rgba(255, 255, 255, 0.12);
    border-top: 4px solid rgba(230, 230, 230, 1);
    background-color: rgba(255, 255, 255, 0.07);
    box-shadow: 0 0 20px 3px rgba(255, 255, 255, 0.12);
}
#planes .contenido-planes article .boton-plan2{
    background: linear-gradient(135deg, #E5E4E2 0%, #C0C0C0 50%, #7D8B96 100%);
    color: #121212;
}
#planes .contenido-planes article .boton-plan2:hover{
    background: #C0C0C0;
    color: #0F172A;
}
#planes .contenido-planes .plan3{
    border-top: 4px solid #FFD700;
}
#planes .contenido-planes .plan3:hover{
    transform: translateY(-5px);
    border-color: rgba(255, 255, 255, 0.12);
    border-top: 4px solid rgba(255, 228, 74, 1);
    background-color: rgba(255, 255, 255, 0.07);
    box-shadow: 0 0 20px 3px rgba(255, 255, 255, 0.12);
}
#planes .contenido-planes article .boton-plan3{
    background: linear-gradient(135deg, #FFE57F 0%, #FFD700 50%, #B8860B 100%);
    color: #121212;
}
#planes .contenido-planes article .boton-plan3:hover{
    background: #FFD700;
    color: #0F172A;
}

/* Sección de formulario de contacto */
#contacto{
    grid-area: contacto;
    display: flex;
    flex-direction: column;
    gap: 15px;
    min-width: 0;
}
#contacto form{
    background-color: #1F2937;
    padding: 22px 18px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
#contacto form label{
    font-size: 1.05rem;
}
#contacto form input, #contacto form select, #contacto form textarea{
    padding: 10px 6px;
    background-color: #161224;
    color: #F3F4F6;
    border: 1px solid #3B3358;
    border-radius: 6px;
    outline: none;
    transition: all 0.5s ease
}
#contacto form input:focus, #contacto form select:focus, #contacto form textarea:focus{
    border-color: #EAB308;
    box-shadow: 0 0 5px 5px rgba(234, 179, 8, 0.2);
}
#contacto form .contenedor-checkbox{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}
#contacto form .contenedor-checkbox #check-form{
    cursor: pointer;
}
#contacto form .contenedor-boton{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 12px;
    margin-top: 5px;
}
#contacto form .contenedor-boton button{
    border-radius: 5px;
    padding: 8px 6px;
    border: none;
    font-weight: bold;
    font-size: 0.8rem;
    cursor: pointer;
    transition: all 0.3s ease;
}
#contacto form .contenedor-boton button:first-child{
    grid-column: span 2;
    background-color: #3b7ae0;
    color: #FFFFFF;
}
#contacto form .contenedor-boton button:first-child:hover{
    background-color: #1D4ED8;
    transform: translateY(-1px);
}
#contacto form .contenedor-boton button:last-child{
    background-color: #37314F;
    color: #C4C0DC;
    border: 1px solid #4D456E;
}
#contacto form .contenedor-boton button:last-child:hover{
    background-color: #4D456E;
    color: #FFFFFF;
}

/* Información rápida lateral */
#contenido-lateral{
    background-color: #111827;
    border-radius: 10px;
    border-left: 4px solid #034450;
    padding: 0px 15px;
    grid-area: aside;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
}
#contenido-lateral h3, #planes .contenido-planes article h3{
    text-align: center;
}
#contenido-lateral ul{
    list-style-type: none;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Estilos del footer */
footer{
    grid-area: footer;
    background-color: #1a1a2e;
    padding: 35px 20px 25px 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
    min-height: 200px;
}
footer h3{
    color: #EAB308;
    font-size: 1.4rem;
    margin-top: 10px;
}
footer h3:first-of-type{
    margin-top: 0;
}
footer p{
    color: #9CA3AF;
    font-size: 1.09rem;
}
footer .nav-footer{
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
    margin-top: 10px;
}
footer .nav-footer a{
    color: #EAF2F8;
    text-decoration: none;
    font-weight: 600;
    padding: 8px 18px;
    background-color: #161224; 
    border: 1px solid #3B3358;
    border-radius: 6px;
    transition: all 0.3s ease;
}
footer .nav-footer a:hover {
    background-color: #2A244D;        
    color: #FFFFFF;                 
    border-color: slateblue;
    transform: translateY(-2px);
}